* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

}

header {
  background-color: #FFF8F3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.nav_title {
  font-size: 45px;
  color: #181818;
}

#text-primary {
  color: #FD6E0A;
}

.btn-primary {
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 18px 35px;
  width: 150px;
  height: 64px;
  border: 0;

}

.btn-primary a {
  color: #FFFFFF;
  width: 80px;
  height: 27px;
  font-weight: bold;
  font-size: 20px;
}

/* navbar done */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}

.banner img {
  width: 500px;
  height: 600px;
}